@{
    var db = Database.Open("ScriptureJournal");
    var selectQueryString = "SELECT * FROM Journal ORDER BY Book";
}
<!DOCTYPE html>
<html>
<head>
    <title>Delete a Scripture</title>
    <link href="~/styles/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header><img src="~/images/logo.png" /></header>
        <div class="nav"><a href="@Href("~/MyScriptureJournal")">Home</a></div>
        <main>
            <h1>Delete a Scriptures</h1>
            <form method="post" action="" name="form">
                <table border="1">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Book</th>
                            <th>Chapter</th>
                            <th>Verses</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in db.Query(selectQueryString))
                        {
                            <tr>
                                <td><a href="@Href("~/DeleteScripture", row.Id)">Delete</a></td>
                                <td>@row.Book</td>
                                <td>@row.Chapter</td>
                                <td>@row.Verses</td>
                                <td>@row.Notes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <p>
                <a href="@Href("~/DisplayScriptureJournal")">View Scriptures</a>
                <a href="@Href("~/EditScriptureJournal")">Edit Scriptures</a>
            </p>
        </main>
        <footer>Copyright &copy; Nisha Williams 2017</footer>
    </div>
</body>
</html>
