@{ 
    var db = Database.Open("ScriptureJournal");
    var searchTerm = "";
    var searchCommand = "SELECT * FROM Journal";

    if (!Request.QueryString["searchScriptures"].IsEmpty())
    {
        //searchTerm = Request.QueryString["searchScriptures"];
        searchTerm = "%" + Request["searchScriptures"] + "%";
        searchCommand = "SELECT * FROM Journal WHERE Book LIKE @0";
    }
    if (!Request.QueryString["searchNotes"].IsEmpty())
    {
        searchCommand = "SELECT * FROM Journal WHERE Notes LIKE @0";
        searchTerm = "%" + Request["searchNotes"] + "%";
    }

    var selectedData = db.Query(searchCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Book", rowsPerPage: 5);
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="~/styles/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <header>
                <img src="~/images/logo.png" />
            </header>
            <div class="nav"><a href="@Href("~/MyScriptureJournal")">Home</a></div>
            <main>   
                <h1>My Scripture Journal</h1>
                <section>
                    <form method="get">
                        <div>
                            <label for="searchScriptures">Search Scriptures:</label>
                            <input type="text" name="searchScriptures" value="@Request.QueryString["searchScriptures"]" />
                            <input type="Submit" value="Search Scriptures" /><br />
                            (Leave blank to list all scriptures.)<br />
                        </div>
                        <div>
                            <label for="SearchNotes">Notes contains the following:</label>
                            <input type="text" name="searchNotes" value="@Request.QueryString["searchNotes"]" />
                            <input type="Submit" value="Search Notes" /><br />
                        </div>
                    </form>
                </section>
                <section>
                    @grid.GetHtml(
       tableStyle: "grid",
       headerStyle: "head",
       alternatingRowStyle: "alt",
       columns: grid.Columns(
            grid.Column(format: @<a href="~/UpdateScriptureJournal?id=@item.ID">Edit</a>),
                          grid.Column("Book"),
                           grid.Column("Chapter"),
                           grid.Column("Verses"),
                           grid.Column("Notes"),
                           grid.Column("Date", format: (item) => item.Date.ToString("MMM-dd-yy")),
                           grid.Column(format: @<a href="~/DeleteEntry?id=@item.ID">Delete</a>)
                        )
                     )
                </section>
                <p><a href="@Href("~/EditScriptureJournal")">Edit Scriptures</a></p>
            </main>
            <footer>Copyright &copy; Nisha Williams 2017</footer>
       </div>
    </body>
</html>
